#sujet {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 8px;
    min-width: 517px;
    max-width: 517px;
  }
  #descDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  
  #descDiv p {
    text-shadow: #000 3px 2px 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: bold;
    line-height: 18px;
  }
  #section {
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(255, 0, 0, 0.1);
    box-shadow:0 1px 22px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #titleSection {
    display:block; /* balise a même comportement qu'un div*/
    font-size: 20px;
    font-weight: bold;
    text-shadow: black 3px 2px 5px;
    letter-spacing: 0.7px;
    cursor: pointer;
  }
  
  .authorTopicImg {
    margin-left: 5px;
  }
  
  #topics {
    min-width: 125px;
    max-width: 125px;
    display: flex;
    justify-content: center;
  }
  #messages {
    min-width: 90px;
    max-width: 90px;
    display: flex;
    justify-content: center;
  }
  
  
  #lastParticipant{
    display: flex;
    flex-direction: column;
    min-width: 140px;
    max-width: 140px;
    margin-right: 8px;
  }
  #lastParticipantAlias {
    margin-right: 20px;
  }
  #lastParticipantDiv{
    width: inherit;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
    cursor: pointer;
  }
  #lastMsgDate {
    width: inherit;
    text-align: center;
  }
  
  .lastParticipantImg {
    width:30px;
    height:30px;
    border-radius: 50px;
    box-shadow:0 1px 22px rgba(0,0,0,0.3);
    display: none;
    margin-right: 5px;
  }
  @media (max-width: 1300px) {
    #sujet {
      min-width: 230px;
      max-width: 230px;
    }
  }
  
  @media (max-width: 1000px) {
    #section {
      overflow-x: hidden;
    }
  }
  @media (max-width: 800px) {
    #section {
      font-size: 15px;
    }
    #descDiv p {
      font-size: 11px;
    }
    #sujet{
      min-width: 200px;
      max-width: 200px;
    }
    #titleSection {
      font-size: 17px;
    }
  
  }
  
  @media (max-width: 650px) {
    #messages, #topics {
      display: none;
    }
    #sujet {
      min-width: 200px; /*200 + 8*2 padding*/
      max-width: calc(100% - 180px); /*200 + 8*2 padding*/
    }
  }
  @media (max-width: 430px) {
    #section {
      padding-right: 0;
      padding-left: 0;
    }
    #sujet{
      min-width: initial;
      max-width: initial;
    }
    #lastParticipant {
      display:none;
    }
  }
  
  h2 {
    font-weight: bold;
  }
  h3 {
    letter-spacing: 0.3px;
    text-shadow: black 3px 2px 5px;
  }
  